:root{
    --background-color: #03001C;
    --font-primary-color: white;
    --btn-primary-color: #b0bcced5;
}
body{
    background-color: var(--background-color);
}
/* .header{
    background-color: var(--background-color);
} */
.nav{
    display: flex;
    gap: 55px;
}
.nav-logo{
    margin-left: 150px;
}
.nav-item{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    color: var(--font-primary-color);
}
.nav-btn{
    height: 40px;
    width: 150px;
    margin-top: 9px;
    margin-right: 100px;
    border: var(--btn-primary-color);
    background-color: var(--btn-primary-color);
    color: var(--font-primary-color);
}
.banaer-item{
    margin-top: 35px;
    display: flex;
}
.banaer-text{
    color: var(--font-primary-color);
    margin-left: 150px;
}
.banaer-p{
    display: flex;
    gap: 5px;
}
.banaer-icon{
    margin-top: 10px;
    font-size: 16px;
}
.me-btn{
   border:  rgb(83, 83, 83);
   background-color: white;
   border-radius: 30px;
   padding: 18px;
}
.pro-btn{
    border: 1px solid var(--btn-primary-color) ;
    background-color: var(--btn-primary-color);
    color: var(--font-primary-color);
    border-radius: 30px;
    margin-right: 20px ;
    padding: 15px;   
}
.about-side{
    color: var(--font-primary-color);
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.about-text{
    margin-left: 150px;
}
.about-years{
    margin-right: 100px;
}
.experience-side{
    color: var(--font-primary-color);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.timing{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}
.awards-side{
    color: var(--font-primary-color);
    justify-content: center;
    display:flex;
    margin-top: 100px;
}
.awards-text{
    background-color: black;
    margin-top: 60px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.protfolio-side{
    color: var(--font-primary-color);
    margin-top: 60px;
}
.protfolio-menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    height: 40px;
}
.menu-btn{
    color: var(--font-primary-color);
    background-color: var(--btn-primary-color);
    border: #b0bcced5;
}
.protfoilo-contant{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 50px;
}
.protfoilo-contant img{
    width: 500px;
}
.contact-menu{
    color: var(--font-primary-color);
    margin-top: 30px;
    padding: 100px;
}
.contact-item{
    background-color: #01035e3d;
    padding: 50px;
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.info{
    border-bottom: 1px solid gray;
    width: 400px;
    padding: 10px;
}
.info-item{
    margin-left: 50px;
}
.contact-btn{
    color: var(--font-primary-color);
    background-color: var(--btn-primary-color);
    border: #b0bcced5;
    padding: 10px;
}
.logo-item{
    color: var(--font-primary-color);
    text-align: center;
    padding: 10px;
}
.logo-info{
    justify-content: center;
    display: flex;
    gap: 20px;
}




/* @media only screen and (min-width: 200px) and (max-width: 576px){
    .nav{
        font-size: 15px;
    }
} */