:root{
    --background-color: #03001C;
    --font-primary-color: white;
    --btn-primary-color: #b0bcced5;
}
body{
    background-color: var(--background-color);
}
/* .header{
    background-color: var(--background-color);
} */
.nav{
    display: flex;
    gap: 55px;
}
.nav-logo{
    margin-left: 150px;
}
.nav-item{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    color: var(--font-primary-color);
}
.nav-btn{
    height: 40px;
    width: 150px;
    margin-top: 9px;
    margin-right: 100px;
    border: var(--btn-primary-color);
    background-color: var(--btn-primary-color);
    color: var(--font-primary-color);
}
.banaer-item{
    margin-top: 35px;
    display: flex;
}
.banaer-text{
    color: var(--font-primary-color);
    margin-left: 150px;
}
.banaer-p{
    display: flex;
    gap: 5px;
}
.banaer-icon{
    margin-top: 10px;
    font-size: 16px
}
.me-btn{
   border:  rgb(83, 83, 83);
   background-color: white;
   border-radius: 30px;
   padding: 18px;
}
.pro-btn{
    border: 1px solid var(--btn-primary-color) ;
    background-color: var(--btn-primary-color);
    color: var(--font-primary-color);
    border-radius: 30px;
    margin-right: 20px ;
    padding: 15px;   
}
.about-side{
    color: var(--font-primary-color);
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.about-text{
    margin-left: 150px;
}
.about-years{
    margin-right: 100px;
}
.experience-side{
    color: var(--font-primary-color);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.timing{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}






/* @media only screen and (min-width: 200px) and (max-width: 576px){
    .nav{
        font-size: 15px;
    }
} */